@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center" xmlns="http://www.w3.org/1999/html">
        <img style="max-height: 350px; max-width: 350px; object-fit: cover; border-radius: 20%;" src="images/profileimage/Profile_Image.png"/>
        <h1>Sawubona, I am Bathandwa Maphumulo</h1>
        <h3>•Software Developer         •DUT ICT Student</h3>
    
        <p>
            I build web-based apps using C# and .NET Framework. I am currently working on a virtual arcade platform, called Risk n Reward.
        </p>
    
        
        <a asp-controller="Projects" asp-action="Index">
            <button class="btn-cta"><strong>View Projects</strong></button>
        </a>
        
        <a asp-controller="Contact"asp-action="Index">
            <button class="btn-cta"><strong>Contact Me</strong></button>
        </a>
        
    </div>
