@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sawubona, kunjani?</h1>
    <img style="max-height: 450px; max-width: 450px" src="images/profileimage/Profile_Image.png"/>
    
    <p>
        I am Bathandwa Maphumulo, a young aspiring Software Developer from Durban, KwaZulu-Natal, South Africa.
        Currently I am studying a Bachelors in Information and Communications Technology, 2nd Year, at the
        Durban University of Technology (DUT).
    </p>
    
</div>