@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Sawubona, kunjani?</h1>
    <img style="max-height: 450px; max-width: 450px" src="images/profileimage/Profile_Image.png"/>
    
    <h4>About Me</h4>
    <h5>Building software that makes sense.</h5>
    <p>
        I am Bathandwa Maphumulo, an aspiring Software Developer from Durban, KwaZulu-Natal, South Africa. <br/>
        Currently I am in my second year, studying a Bachelors in Information and Communications Technology, at the
        Durban University of Technology (DUT).
    </p>
    
    <p>
        My areas of interests include: backend development, web technologies and understanding how systems work end to end.
        I enjoy building practical, reliable software and every so often my curiosity has me taking apart existing systems
        to understand how they are work.
    </p>
    
    <p>
        My aim is to write clean, maintainable code that transforms real world problems into well structured simple software solutions.
        My main tools are primarily C#, .NET and modern web technologies.
    </p>
    
    <p>
        Outside of academics and developing software, I enjoy playing chess, listening to all sorts of music and reading books.
    </p>
    
    <p>
        This is a warm welcome to my digital home.
    </p>
    
    <a asp-controller="Contact" asp-action="Index">
        <button class="btn btn-dark">Contact Me</button>
    </a>
    
    <a asp-controller="Projects" asp-action="Index">
        <button class="btn btn-dark">Projects</button>
    </a>
    
</div>