@* Views/Projects/Index.cshtml *@
@using BathandwaPortfolioWebsite.Models

@{
    ViewData["Title"] = "Projects"; 
    var featured = ViewBag.featured as List<Project>;
}
<h1 class="mb-4">Projects</h1>


@if (featured.Count > 0)
{
    foreach (var project in featured)
    {
        <h3>@project.title</h3>
        <p>
            @project.description
        </p>
        <p>
            See the project repo on github here:@project.projectlinkUrl
        </p>
    }
}
@*<h3>Risk n Reward</h3>
<p>
    Console-prototyped game exploring system design and clean C# architecture.
</p>

<h3>Portfolio Website</h3>
<p>
    Personal portfolio built with ASP.NET MVC.
</p>

<h3>CoinTrace</h3>
<p>
    Finance Tracking Application built using ASP.NET MVC
</p>

<h4>Study Load, Save the semester</h4> 
<p>
    <em>Coming soon</em> <br/>
    A academic tracking system focused on reaching academic goals, progress and exam preparation. 
</p>*@