@* Views/Projects/Index.cshtml *@
@{ ViewData["Title"] = "Projects"; }
<h1>Projects</h1>

<h3>Risk n Reward</h3>
<p>
    Console-based game exploring system design and clean C# architecture.
</p>

<h3>Portfolio Website</h3>
<p>
    Personal portfolio built with ASP.NET MVC.
</p>

<h3>SpendSmart</h3>
<p>
    Finance Tracking Application built using ASP.NET MVC
</p>

<h4>Study Load, Save the semester</h4> 
<p>
    <em>Coming soon</em> <br/>
    A academic tracking system focused on reaching academic goals, progress and exam preparation. 
</p>