@* Views/Skills/Index.cshtml *@
@{ ViewData["Title"] = "Skills"; }
<h1>Skills</h1>


<section class="skill-section">
    <h3>Programming Languages</h3>
    <div class="skills-row">
        <div class="skill-inline">
            <img src="images/skillsBadges/bash-original.svg" alt="Bash"/>
            <span>Bash</span>
        </div>
        
        <div class="skill-inline">
            <img src="images/skillsBadges/csharp-original.svg" alt="C#"/>
            <span>C#</span>
        </div>

        <div class="skill-inline">
            <img src="images/skillsBadges/javascript-original.svg" alt="JavaScript"/>
            <span>JavaScript</span>
        </div>

        <div class="skill-inline">
            <img src="images/skillsBadges/postgresql-original.svg" alt="PostgreSQL"/>
            <span>PostgreSQL</span>
        </div>
    </div>
</section>


<section class="skill-section">
    <h3>Frameworks</h3>
    <div class="skills-row">
        <div class="skill-inline">
            <img src="images/skillsBadges/dotnet-logo.svg" alt="dotnet"/>
            <span>dotnet</span>
        </div>
        
        <div class="skill-inline">
            <img src="" alt="ASP.NET"/>
            <span>ASP.NET</span>
        </div>
        
        <div class="skill-inline">
            <img src="images/skillsBadges/chartjs-original.svg" alt="Chart.js"/>
            <span>Chart.js</span>
        </div>
    </div>
</section>


<section class="skill-section">
    <h3>Tools</h3>
    <div class="skills-row">
        <div class="skill-inline">
            <img src="images/skillsBadges/git-original.svg" alt="Git"/>
            <span>Git</span>
        </div>
        
        <div class="skill-inline">
            <img src="images/skillsBadges/github-original.svg" alt="GitHub"/>
            <span>GitHub</span>
        </div>
        
        <div class="skill-inline">
            <img src="images/skillsBadges/rider-original.svg" alt="Rider"/>
            <span>Rider</span>
        </div>
        
        <div class="skill-inline">
            <img src="images/skillsBadges/webstorm-original.svg" alt="WebStorm"/>
            <span>WebStorm</span>
        </div>
    </div>
</section>
