@* Views/Skills/Index.cshtml *@
@{ ViewData["Title"] = "Skills"; }
<h1>Skills</h1>


<section class="skill-section">
    <h3>Programming Languages</h3>
    <div class="skills-row">
        <div class="skill-inline">
            <img src="images/skillsBadges/bash-original.svg" alt="Bash" class="skill-images"/>
            <span>Bash</span>
        </div>
        
        <div class="skill-inline">
            <img src="images/skillsBadges/csharp-original.svg" alt="C#" class="skill-images"/>
            <span>C#</span>
        </div>

        <div class="skill-inline">
            <img src="images/skillsBadges/javascript-original.svg" alt="JavaScript" class="skill-images"/>
            <span>JavaScript</span>
        </div>

        <div class="skill-inline">
            <img src="images/skillsBadges/postgresql-original.svg" alt="PostgreSQL" class="skill-images"/>
            <span>PostgreSQL</span>
        </div>
    </div>
</section>


<section class="skill-section">
    <h3>Frameworks</h3>
    <div class="skills-row">
        <div class="skill-inline">
            <img src="images/skillsBadges/dotnet-logo.svg" alt="dotnet" class="skill-images"/>
            <span>dotnet</span>
        </div>
        
        <div class="skill-inline">
            <img src="" alt="ASP.NET" class="skill-images"/>
            <span>ASP.NET</span>
        </div>
        
        <div class="skill-inline">
            <img src="images/skillsBadges/chartjs-original.svg" alt="Chart.js" class="skill-images"/>
            <span>Chart.js</span>
        </div>
    </div>
</section>


<section class="skill-section">
    <h3>Tools</h3>
    <div class="skills-row">
        <div class="skill-inline">
            <img src="images/skillsBadges/git-original.svg" alt="Git" class="skill-images"/>
            <span>Git</span>
        </div>
        
        <div class="skill-inline">
            <img src="images/skillsBadges/github-original.svg" alt="GitHub" class="skill-images"/>
            <span>GitHub</span>
        </div>
        
        <div class="skill-inline">
            <img src="images/skillsBadges/rider-original.svg" alt="Rider" class="skill-images"/>
            <span>Rider</span>
        </div>
        
        <div class="skill-inline">
            <img src="images/skillsBadges/webstorm-original.svg" alt="WebStorm" class="skill-images"/>
            <span>WebStorm</span>
        </div>
    </div>
</section>
