@* Views/Education/Index.cshtml *@
@{ ViewData["Title"] = "Education"; }
<body class="light-theme">
    <h1>Education</h1>
    <h4>Durban University of Technology</h4>
    <p>
        Bachelor of Information and Communications Technology (BICT) <br/>
        <em>2025 - Present (Expected graduation in May 2028)</em>
    </p>

    <h5>Relevant Modules</h5>
    <section>
        <em>Year 2</em>
            <ul>
                <li>Systems Analysis and Design</li>
                <li>Networks and Operating Systems</li>
                <li>Programming Languages</li>
            </ul>
    </section>

    <section>
        <em>Year 1</em>
            <ul>
                <li>Software Development Fundamentals</li>
                <li>Systems Fundamentals</li>
                <li>Introduction to Computing</li>
                <li>Discrete Structures</li>
                <li>Mathematics for Computing 1A & 1B</li>
            </ul>

        <h5>Achievements</h5>
        <p>
            Ranked in the Top 11 for Systems Fundamentals out of a cohort of 373 students.
        </p>    
    </section>
</body>