@* Views/About/Index.cshtml *@
@{ ViewData["Title"] = "About"; }
<h1>About Bathandwa</h1>

<p>
    I am Bathandwa Maphumulo, an aspiring Software Developer from Durban, KwaZulu-Natal, South Africa. <br/>
    Currently I am in my second year, studying a Bachelors in Information and Communications Technology, at the
    Durban University of Technology (DUT).
</p>
    
<p>
    My areas of interests include: backend development, web technologies and understanding how systems work end to end.
    I enjoy building practical, reliable software and every so often my curiosity has me taking apart existing systems
    to understand how they are work.
</p>
    
<p>
    My aim is to write clean, maintainable code that transforms real world problems into well structured simple software solutions.
    My main tools are primarily C#, .NET and modern web technologies.
</p>
    
<p>
    Outside of academics and developing software, I enjoy playing chess, listening to all sorts of music and reading books.
</p>