@* Views/Contact/Index.cshtml *@
@{ ViewData["Title"] = "Contact"; }
<h1>Contact</h1>

<p>
    Let's talk, I am open to internship/mentorship and collaboration.
</p>

<ul>
    <li>
        <a href="mailto:bmap750@gmail.com">
            <span>bmap750@gmail.com</span>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/bathandwa-maphumulo-216177180/" target="_blank">
            <span>LinkedIn</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/BathandwaLet" target="_blank">
            <span>GitHub</span>
        </a>
    </li>
</ul>